<div class="d-flex RobotView" style="margin-bottom:350px">
    <div class="d-flex partLeft" robot_view_left_scroll >
      <div class="d-flex imgBlockLeft "  style="position: relative;">
        <img 
          src="img/view1.png"
          style="position: absolute; top: 0; left: 0; z-index: -1;"
        />
      </div>
      <div class="d-flex flex-column flex-grow-1 text">
        <div
          style="
            font-family: 'IBM Plex Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 48px;

            color: #505d68;
          "
        >
          TinyBot
        </div>
        <div
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #a1aeb7;
          "
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </div>
    </div>

    <div class="d-flex partRight " robot_view_right_scroll >
      <div
        class="d-flex flex-column flex-grow-1 "
        style="
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          padding-top: 288px;

          color: #a1aeb7;
       
         
        "
      >
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </div>
      </div>

      <div class="d-flex imgBlockRight" style="position: relative; ">
        <img
          src="img/view2.png"
          style="position: absolute; top: 100px; right: 0"
        />
        <img
          src="img/Ellipse.png"
          style="position: absolute; top: 0; right: 0"
        />
       
      </div>
    </div>
  </div>