<div class="d-flex flex-column align-center container DataDriving" style="margin-bottom: 150px; position: relative">
    <div id="data_driving" style="position:relative; z-index: -1; top: -50px"></div>
    <div class="d-flex" style="
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;

        text-align: center;

        color: #505d68;
        margin-bottom: 45px;
      ">
        >>Data Driving
    </div>

    <div class="d-flex" style="
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        text-align: center;

        color: #a1aeb7;
        margin-bottom: 40px;
      ">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna.
    </div>

    <div class="d-flex align-center justify-center card" style="margin: 0 auto; ;
      background-color: #FAFAFA;
      max-width: 830px;
      width: 100%;
      
      ">

        <!-- 1 -->
        <div class="d-flex flex-grow-1 stage">
            <div class="d-flex flex-column align-center justify-center">

                <div class="d-flex align-center justify-center imgContainer"
                    style="background-color: #f2f5f7; margin-bottom: 12px; border-radius:50%; position: relative; ">
                    <div class="d-flex align-center justify-center badge">
                        1
                    </div>
                    <img src="img/stage1.png" alt="" />
                </div>


                <div class="title">
                    Старт
                </div>
            </div>
            <div class="d-flex flex-grow-1 align-center justify-center">
                <div style="margin-top: 32px; margin-left: 4px;">
                    <img src="img/arrow.svg" style="transform: translateX(-50%); opacity: 0.4" />
                </div>
            </div>
        </div>


        <!-- 2 -->
        <div class="d-flex flex-grow-1 stage">
            <div class="d-flex flex-column align-center justify-center">

                <div class="d-flex align-center justify-center imgContainer"
                    style="background-color: #f2f5f7;  margin-bottom: 12px; border-radius:50%; position: relative; ">
                    <div class="d-flex align-center justify-center badge">2
                    </div>
                    <img src="img/stage2.png" alt="" />
                </div>


                <div class="title">
                    Sign up
                </div>
            </div>
            <div class="d-flex flex-grow-1 align-center justify-center">
                <div style="margin-top: 32px; margin-left: 4px;">
                    <img src="img/arrow.svg" style="transform: translateX(-50%); opacity: 0.4" />
                </div>
            </div>
        </div>



        <!-- 3 -->

        <div class="d-flex flex-grow-1 stage">
            <div class="d-flex flex-column align-center justify-center">

                <div class="d-flex align-center justify-center imgContainer"
                    style="background-color: #f2f5f7;  margin-bottom: 12px; border-radius:50%; position: relative; ">
                    <div class="d-flex align-center justify-center badge">3
                    </div>
                    <img src="img/stage3.png" alt="" />
                </div>


                <div class="title">
                    Sign up
                </div>
            </div>
            <div class="d-flex flex-grow-1 align-center justify-center">
                <div style="margin-top: 32px; margin-left: 4px;">
                    <img src="img/arrow.svg" style="transform: translateX(-50%); opacity: 0.4" />
                </div>
            </div>
        </div>

        <!-- 4 -->
        <div class="d-flex stage">
            <div class="d-flex flex-column align-center justify-center">

                <div class="d-flex align-center justify-center imgContainer"
                    style="background-color: #f2f5f7; margin-bottom: 12px; border-radius:50%; position: relative; ">
                    <div class="d-flex align-center justify-center badge">
                        4
                    </div>
                    <img src="img/stage4.png" alt="" />
                </div>


                <div class="title">
                    Sign up
                </div>
            </div>

        </div>
    </div>

    <div class="d-flex" style="margin: 0 auto; padding: 30px 40px 30px 40px;
      
      background-color: #FFFFFF;
      max-width: 830px;
      width: 100%;
      height: 90vh;">
        <div class="d-flex flex-column align-center justify-center flex-grow-1" style="height: 100%;">
            <div style="font-style: normal;
                font-weight: 300;
                margin-bottom: 16px;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: center;
max-width: 400px;
color: #505D68;">
                В свободном порядке переключаясь между сферами и подсферами, выберите
                от одного до нескольких форматов управления манипулятором для
                выбранных вариантов.
            </div>

            <button class="buttonCustom" text="начать" style="    max-width: 250px;
            width: 80%;">
                <span style="text-transform: none; color: white">начать</span>
            </button>
        </div>
    </div>
</div>