<div class="d-flex flex-column container initial" style="margin-top:100px; margin-bottom: 150px;">
  <div class=" initial_content">
    <div class="initial_title" style="
          font-family: 'IBM Plex Mono';
          font-style: normal;
          font-weight: 300;
         
          

          color: #505d68;
          text-align: right;
          padding-right: 8px;
        ">
      <div>Tiny</div>
      <span>Bot</span>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-column initial_cards" style=" margin-top: 32px;">
        <!-- 1  -->
        <div class="d-flex flex-grow-1 card " initial_card_scroll>
          <div class="d-flex card_number" style="
                      
                        text-align: right;
                        
                        
                     
                        
                      ">1</div>
          <div class="d-flex flex-column">
            <div class="card_title">
              Коллаборативный
            </div>
            <div class="card_text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna.
            </div>
          </div>
        </div>

        <!-- 2 -->

        <div class="d-flex flex-grow-1 card " initial_card_scroll>
          <div class="d-flex card_number" style="
                      
                        text-align: right;
                        
                        
                     
                        
                      ">2</div>
          <div class="d-flex flex-column">
            <div class="card_title">
              Артикулированный
            </div>
            <div class="card_text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna.
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="d-flex flex-grow-1 card " initial_card_scroll>
          <div class="d-flex card_number" style="
                      
          text-align: right;
          
          
       
          
        ">3</div>
          <div class="d-flex flex-column">
            <div class="card_title">
              Адаптивный
            </div>
            <div class="card_text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna.
            </div>
          </div>
        </div>
      </div>




      <div style="position: relative; display: flex; flex-basis: 350px">
        <img src="img/TinyBot.png" class="img" />
      </div>
    </div>

  </div>