<div class="d-flex flex-column align-center conainer AboutRobots" style="margin-bottom: 150px; position: relative;">
    <div  id="about_robots" style="position:relative; z-index: -1; top: -50px"></div>
    <div
      class="d-flex"
      style="
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;

        text-align: center;

        color: #505d68;
        margin-bottom: 45px;
      "
    >
      >>О роботах
    </div>

    <div
      class="d-flex"
      style="
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        text-align: center;

        color: #a1aeb7;
        margin-bottom: 40px;
      "
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna.
    </div>

    <div class="d-flex justify-center" style="flex-wrap: wrap">
        @@include('./RobotCard1.html')
        @@include('./RobotCard2.html')
        @@include('./RobotCard3.html')
        @@include('./RobotCard1.html')
        @@include('./RobotCard2.html')
        @@include('./RobotCard3.html')
        @@include('./RobotCard1.html')
        @@include('./RobotCard2.html')
        @@include('./RobotCard3.html')
    </div>
  </div>