<div

class="d-flex flex-column align-center justify-start RobotCard"
style=" margin-bottom: 26px;"
>
<div
  class="d-flex"
  style="width: 100%; position: relative; padding-bottom: 100%"
>
  <div
    style="
      font-family: 'IBM Plex Mono';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 39px;
      /* identical to box height */
      text-align: right;
      letter-spacing: 0.15em;

      color: #ffffff;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    "
  >
    GIF
  </div>
  <img
    src="img/robot2.png"
    style="
      width: 100%;
      padding-bottom: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 1;
    "
    alt=""
  />
</div>
<div
  style="
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 31px;
    text-align: left;
    width: 100%;
    color: #505d68;
    margin-top: 12px;
    margin-bottom: 4px;
  "
>
David Bowen
</div>
<div
  style="
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    width: 100%;
    color: #a1aeb7;
  "
>
Сборка манипулятора. Реализация системы. Управления роботом Сбор и анализ данных с WEB сайта
</div>
</div>