<header class="header" style="
width: 100vw;
position: fixed;
z-index: 100;
top: 0;
opacity: 0.9;
">
  <div id="navbar" class="d-flex">
    <div class="pt-0 container d-flex flex-1">
      <div class="nav d-flex ">
        <div class="nav_item">
          EN
        </div>
        <div class="nav_item">
          О проекте
        </div>
        <div class="nav_item">
          О роботах
        </div>
        <div class="nav_item">
          DataDriving
        </div>
        <div class="nav_item">
          Контакты
        </div>
      </div>

    </div>
  </div>
</header>