<header class="header" style="
width: 100vw;
position: fixed;
z-index: 100;
top: 0;
opacity: 0.9;
">
  <div id="navbar" class="d-flex">
    <div class="pt-0 container d-flex flex-1">
      <div class="nav d-flex ">
        <button class="nav_item buttonCustom" text="EN">
          EN
        </button>
        <button class="nav_item buttonCustom" text="О проекте">
          О проекте
        </button>
        <button class="nav_item buttonCustom" text="О роботах">
          О роботах
        </button>
        <button class="nav_item buttonCustom" text="DataDriving">
          DataDriving
        </button>
        <button class="nav_item buttonCustom" text="Контакты">
          Контакты
        </button>
      </div>

    </div>
  </div>
</header>