.footer {
   
   
    .callbackTextarea {
        border-radius: 3px;
        width: 50%;
        max-width: 600px;
        margin-bottom: 12px;
        border: 1px solid #C2D1D9;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding: 10px 12px;

        color: #C2D1D9;

        width: 80%;
    }

    .callbackBtn{
        background-color:#505D68; max-width: 450px;
        width: 80%;
        padding: 10px 0;   
    }

    .contacts{
        max-width: 600px; width: 100%; margin-top: 50px; margin-bottom: 20px;
        
        @media (max-width: 576px) {
            flex-direction: column;
            div{
                margin-bottom: 10px;
            }
        }
        
    }
}